.top-donors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-color: #f8f8f8;
}

.top-donors h2 {
    text-align: center;
    margin-top: 20px;
}

.top-donor-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}